/*****Custom Styling******/
*{
	margin:0px;
	padding:0px;
}
html , body{
	width:100%;
	font-family:arial;
	background-color:#FDFEFE;
}
/**End of Basic Styling**/

/****Start of Login| Index page Styling*****/
.container{
	margin-top:20px;
	
}
.login-card{
	margin-top:100px;
}
.card{
	box-shadow:1px 1px 1px 1px  lightgrey;
}
.card-body{
	padding:5px;
}
.card-title{
	padding-top:10px;
	font-weight:500;
	color:#2E86C1;
}
input{
	color:red;
	background-color:#f2f2f2;
}
.input-group{
	margin-bottom:20px;
}
.submit_btn{
	background-color:#5BDC67;
	color:white;
	font-size:18px;
}
.submit_btn:hover{
	background-color:#57CA61;
	box-shadow:0.5px 0.5px 0.5px 0.5px lightgrey;
}
.card-body-p{
	padding-left:0px;
	color:grey;
	font-size:14px;
}

/****End  of Login| Index page Styling*****/

/****Start  of Dashboard  Page Styling*****/
#navigation{
	background-color:#1A5276;
	margin-bottom:30px;
}
.List-header{
	color:white;
	background-color:#1A5276;
}
.List-header:hover{
	color:white;
}
.badge-user{
	color:white;
	background-color:#5DADE2;
}
.main-head{
	color:#1A5276;
}

#footer{
	height:50px;
	margin-top:10px;
	background-color:#1A5276;
}
#footer p{
	padding-top:10px;
}
/****End  of Dashboard Page  Styling*****/